button:hover {
    cursor: pointer;
}

.tela-jogo {
    width: 1025px;
    margin: auto;
}

.container-jogo {
    width: 934px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
}

.foto-forca {
    width: 400px;
    height: 466px;
}

.botao-e-palavra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.escolher-palavra {
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    background-color: #27AE60;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

h1 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
}

.letras {
    width: 676px;
    margin: auto;
    margin-top: 64px;
}

.letra {
    width: 40px;
    height: 40px;
    background-color: #9FAAB5;
    border: 1px solid #7AA7C7;
    font-size: 16px;
    color: #798A9F;
    margin: 6px 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.ativa {
    background-color: #E1ECF4;
    color: #39739D;
}

.perdeu-o-jogo {
    color: #FF0000;
}

.ganhou-o-jogo {
    color: #27AE60;
}